.box-number {
	height: 300px;
	width: 800px;
	background-color: red;
	display: flex;
	position: relative;
}

.countdown {
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-name: numbers;
	opacity: 0;
	font-size: 1.5em;
	position: absolute;
	top: 60px;
	left: 30px;
}

@keyframes numbers {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.num10 {
	animation-delay: 0;
}

.num9 {
	animation-delay: 1s;
}

.num8 {
	animation-delay: 2s;
}

.num7 {
	animation-delay: 3s;
}

.num6 {
	animation-delay: 4s;
}

.num5 {
	animation-delay: 5s;
}

.num4 {
	animation-delay: 6s;
}

.num3 {
	animation-delay: 7s;
}

.num2 {
	animation-delay: 8s;
}

.num1 {
	animation-delay: 9s;
}

.final {
	animation-delay: 10s;
}

.final {
	color: black;
}
